<f:switch expression="{data.space_before_class}">
    <f:case value="0">
        <f:variable name="space_before" value="" />
    </f:case>
    <f:defaultCase>
        <f:variable name="space_before" value="mt-{data.space_before_class}" />
    </f:defaultCase>
</f:switch>

<f:switch expression="{data.layout}">
    <f:case value="1">
        <f:variable name="bg" value="container-bg" />
    </f:case>
    <f:case value="2">
        <f:variable name="bg" value="container-bg-nopadding" />
    </f:case>
    <f:defaultCase>
        <f:variable name="bg" value="" />
    </f:defaultCase>
</f:switch>

<f:switch expression="{data.frame_class}">
    <f:case value="fullwidth">
        <f:variable name="content_width" value="" />
    </f:case>
    <f:case value="lesswidth">
        <f:variable name="content_width" value="container container-small" />
    </f:case>
    <f:defaultCase>
        <f:variable name="content_width" value="container" />
    </f:defaultCase>
</f:switch>

<f:if condition="{space_before}">
    <div class="{space_before}"></div>
</f:if>
<f:if condition="{bg}">
    <div class="{bg}">
</f:if>
<f:if condition="{content_width}">
    <div class="{content_width}">
</f:if>

<div id="c{f:if(condition: '{data._LOCALIZED_UID}', then: '{data._LOCALIZED_UID}', else: '{data.uid}')}" class="ce ce-type-{data.CType} {f:if(condition: '{data.tx_w4communitynet_visibility}', then: '{settings.colClasses.{data.tx_w4communitynet_visibility}}')} ">
    <f:render section="Header" optional="true">
        <f:render partial="Header/All" arguments="{_all}" />
    </f:render>
