<f:variable name="cats" value="," />
<f:for each="{newsItem.categories}" as="category">
    <f:variable name="cats" value="{cats}{category.uid}," />
</f:for>
<tr data-categories="{cats}">
    <td class="date">
        <strong><f:format.date format="d">{newsItem.datetime}</f:format.date></strong>
        <f:translate key="LLL:EXT:w4_communitynet/Resources/Private/Language/locallang.xlf:months.abbreviated.{newsItem.datetime -> f:format.date(format: 'n')}" />
    </td> 
    <td class="time">
        <f:format.date format="H:i">{newsItem.datetime}</f:format.date>
        <f:if condition="{newsItem.eventEnd}">
            - <f:format.date format="H:i">{newsItem.eventEnd}</f:format.date>
        </f:if>
    </td>
    <td class="title">
        <n:link newsItem="{newsItem}" settings="{settings}" class="article-more" title="{newsItem.title}">
            {newsItem.title}
        </n:link>
    </td>
</tr>
