<f:variable name="pid" value="0" />
<f:variable name="rootline" value="{v:page.rootline()}" />
<f:if condition="{rootline -> f:count()} > 2">
    <f:variable name="pid" value="{rootline.2.uid}" />
</f:if>
<f:if condition="{pid}">
    <v:menu pageUid="{pid}" as="menu">
        <f:if condition="{menu}">
            <div class="nav-subpages">
                <ul>
                    <f:for each="{menu}" as="item">
                        <li>
                            <a href="{item.link}" target="{item.target}" title="{item.title}">
                                <span>{item.title}</span>
                            </a>
                        </li>
                    </f:for>
                </ul>
            </div>
        </f:if>
    </v:menu>
</f:if>
