<f:layout name="Default"/>

<f:section name="Main">
    <div class="wrapper home">
        <f:variable name="isHome" value="1" />
        <f:render partial="Header" arguments="{_all}" />
        <div class="header home">
            <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos: 1}" />
        </div>
        <!--TYPO3SEARCH_begin-->
        <div id="content-home" class="content content-home">
            <div class="mb-3"></div>
            <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos: 0}" />
        </div>
        <!--TYPO3SEARCH_end-->
    </div>
    <f:render partial="Footer" arguments="{_all}" />
</f:section>
