<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="General" />
<f:section name="content">
    <f:if condition="{categories}">
        <f:then>
            <div id="my-newsevents-{contentObjectData.uid}-filter" class="subpages-nav events-categories element checkbox">
                <div class="form-group form-group-with-shadow mb-5">
                    <ul class="nav clearfix check-all">
                        <li>
                            <label for="my-newsevents-{contentObjectData.uid}-categories-all" class="form-check-label">
                                <input type="checkbox" name="categories-all" id="my-newsevents-{contentObjectData.uid}-categories-all" value="all" 
                                    <f:if condition="!{overwriteDemand.categories} || ({categories -> f:count()} == {overwriteDemand.categories -> v:iterator.explode() -> f:count()})">
                                        checked="true"
                                    </f:if>
                                />
                                <span class="checkmark"></span>
                                <f:translate key="LLL:EXT:w4_communitynet/Resources/Private/Language/locallang.xlf:all_categories" />
                            </label>
                        </li>
                    </ul>
                    <ul class="nav clearfix">
                        <f:render section="categoryTree" arguments="{categories:categories, overwriteDemand:overwriteDemand}" />
                    </ul>
                    <f:link.page id="refresh" class="btn-u" additionalAttributes="{data-url:'{f:uri.page(absolute: 1, additionalParams: {tx_news_pi1:{currentPage: 1}})}'}">
                        <f:translate key="LLL:EXT:w4_communitynet/Resources/Private/Language/locallang.xlf:filter" />
                    </f:link.page>
                </div>
            </div>    
            <script>
                /* Events list checkbox filtering */
                window.onload = function() <f:format.raw value="{" />
                        ( function($) <f:format.raw value="{" />
                        let all = $('#my-newsevents-{contentObjectData.uid}-filter input#my-newsevents-{contentObjectData.uid}-categories-all'),
                            categories = $('#my-newsevents-{contentObjectData.uid}-filter input').not('input#my-newsevents-{contentObjectData.uid}-categories-all'),
                            checkBoxes = $('#my-newsevents-{contentObjectData.uid}-filter input');
                        all.change( function() <f:format.raw value="{" />
                            categories.each( function() <f:format.raw value="{" />
                                $(this).prop( 'checked', all.is(':checked'));
                            });
                        });
                        checkBoxes.change( function( e) <f:format.raw value="{" />
                            let categoriess = (
                                all.get(0) === e.target && !$(e.target).is(':checked') || all.get(0) !== e.target
                                    ? categories.filter(':checked')
                                    : categories
                                ).map(function() <f:format.raw value="{" />
                                    return parseInt( $(this).val());
                                }).toArray();
                                
                            let slug = (categoriess.length > 0 && categoriess.length != categories.length) ? "?tx_news_pi1[overwriteDemand][categories]=" + categoriess.join(",") : "";
                            $("#refresh").attr("href", $("#refresh").data("url") + slug);

                            if (all.get(0) !== e.target) <f:format.raw value="{" />
                                all.prop( 'checked', categoriess.length === categories.length);
                            }
                        });
                    })( jQuery);
                }
            </script>
        </f:then>
        <f:else>
            <f:translate key="list_nocategoriesfound" />
        </f:else>
    </f:if>
</f:section>
<f:section name="categoryTree">
    <f:for each="{categories}" as="category">
        {n:category.count(categoryUid:category.item.uid) -> f:variable(name: 'categoryUsageCount')}
        <f:if condition="{categoryUsageCount}">
            <li class="event">
                <label for="my-newsevents-{contentObjectData.item.uid}-category-{category.item.uid}" class="form-check-label">
                    <input type="checkbox" name="category-{category.item.uid}" id="my-newsevents-{contentObjectData.uid}-category-{category.item.uid}" value="{category.item.uid}" 
                        <f:if condition="!{overwriteDemand.categories} || {v:iterator.indexOf(needle: category.item.uid, haystack: overwriteDemand.categories)} >= 0">
                            checked="true"
                        </f:if>
                    />
                    <span class="checkmark"></span>
                    {category.item.title}
                    <f:if condition="{categoryUsageCount}">({categoryUsageCount})</f:if>
                </label>
            </li>
        </f:if>
        <f:if condition="{category.children}">
            <f:render section="categoryTree" arguments="{categories: category.children, overwriteDemand:overwriteDemand}" />
        </f:if>
    </f:for>
</f:section>
</html>