@font-face {
    font-family: "Open Sans";
    src: url("../Fonts/OpenSans-Regular.eot");
    src: local("☺"), url("../Fonts/OpenSans-Regular.woff") format("woff"),
        url("../Fonts/OpenSans-Regular.ttf") format("truetype"), url("../Fonts/OpenSans-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("../Fonts/OpenSans-Bold.eot");
    src: local("☺"), url("../Fonts/OpenSans-Bold.woff") format("woff"),
        url("../Fonts/OpenSans-Bold.ttf") format("truetype"), url("../Fonts/OpenSans-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: url("../Fonts/OpenSans-SemiBold.eot");
    src: local("☺"), url("../Fonts/OpenSans-SemiBold.woff") format("woff"),
        url("../Fonts/OpenSans-SemiBold.ttf") format("truetype"), url("../Fonts/OpenSans-SemiBold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
