<f:variable name="fullName" value="" />
<f:if condition="{address.name}">
    <f:then>
        <f:variable name="fullName" value="{address.name}" />
    </f:then>
    <f:else>
        <f:if condition="{address.first_name}">
            <f:variable name="fullName" value="{address.first_name} " />
        </f:if>
        <f:if condition="{address.middle_name}">
            <f:variable name="fullName" value="{fullName}{address.middle_name} " />
        </f:if>
        <f:if condition="{address.last_name}">
            <f:variable name="fullName" value="{fullName}{address.last_name}" />
        </f:if>
    </f:else>
</f:if>

<div class="vcard tt_address_detail" itemscope itemtype="http://schema.org/Person">
    <f:if condition="{address.image}">
        <f:then>
            <div class="row">
                <div class="col-md-3">
                    <v:resource.record.fal table="tt_address" field="image" uid="{address.uid}" as="resources">
                        <f:if condition="{resources.0.uid}">
                            <p><f:image src="{resources.0.url}" width="540" class="photo" alt="{fullName}" title="{fullName}" /></p>
                        </f:if>
                    </v:resource.record.fal>
                </div>
                <div class="col-md-9">
                    <f:render section="content" arguments="{_all}"/>
                </div>
            </div>
        </f:then>
        <f:else>
            <f:render section="content" arguments="{_all}"/>
        </f:else>
    </f:if>
</div>

<f:section name="content">
    <h4>
        {fullName}
    </h4>
    <f:if condition="{address.position}">
        <p>{address.position}</a><br /></p>
    </f:if>
    <p>
        <f:if condition="{address.firma}">
            {f:translate(key:'label.company')}: {address.company}<br />
        </f:if>
        <f:if condition="{address.country}">
            {f:translate(key:'label.country')}: {address.country}<br />
        </f:if>
        <f:if condition="{address.region}">
            {f:translate(key:'label.region')}: {address.region}<br />
        </f:if>
        <f:if condition="{address.phone}">
            {f:translate(key:'label.telephone')}: <a href="tel:{address.cleanedPhone}">{address.phone}</a><br />
        </f:if>
        <f:if condition="{address.mobile}">
            {f:translate(key:'label.mobile')}: <a href="tel:{address.cleanedMobile}">{address.mobile}</a><br />
        </f:if>
        <f:if condition="{address.fax}">
            {f:translate(key:'label.fax')}: {address.fax}<br />
        </f:if>
        <f:if condition="{address.email}">
            {f:translate(key:'label.email')}: <f:link.email email="{address.email}" /><br />
        </f:if>
        <f:if condition="{address.www}">
            {f:translate(key:'label.www')}: <f:link.typolink parameter="{address.www}">{address.wwwSimplified}</f:link.typolink><br />
        </f:if>
        <f:if condition="{address.birthday}">
            {f:translate(key:'label.birthday')}: {address.birthday -> f:format.date(format:'%d.%m.%Y')}
        </f:if>
    </p>
    <f:if condition="{address.additional_information}">
        {address.description -> f:format.html()}
    </f:if>
    <f:if condition="{address.building}">
        {address.building -> f:format.html()}
    </f:if>
</f:section>
