{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:variable name="columns" value="{v:iterator.explode(content:settings.fields , glue:',')}" />
<f:for each="{addresses}" as="address" iteration="iterator">
    <div class="vcard-detail-row content-vcard-detail-withdescription clearfix" itemscope="" nitemtype="http://schema.org/Person">
        <div class="row equal">
            <div class="col-md-3 imgContainer">
                <f:if condition="{address.image.0}">
                    <f:media file="{address.image.0}" width="540" class="photo" alt="{address.image.0.originalResource.alt}" title="{address.fullName}" />
                </f:if>
            </div>            
            <div class="col-md-9">
                <h3>{address.name}</h3>
                <div class="row">
                    <div class="col-md-4">
                        <f:if condition="{address.position}">
                            <p>
                                <strong><f:translate key="label.position" /></strong><br />{address.position}
                            </p>
                        </f:if>
                        <f:if condition="{address.company}">
                            <p>
                                <strong><f:translate key="tt_address.party" extensionName="w4_communitynet" /></strong><br />{address.company}
                            </p>
                        </f:if>
                        <p>
                            <strong><f:translate key="tt_address.contact" extensionName="w4_communitynet" /></strong><br />
                            <f:for each="{columns}" as="column"  iteration="iterator"> 
                                <f:switch expression="{column}">
                                    <f:case value="position">
                                    </f:case>
                                    <f:case value="company">
                                    </f:case>
                                    <f:case value="email">
                                        <f:if condition="{address.email}">
                                            <i class="fa fa-envelope"></i> <a href="mailto:{address.email}">{address.email}</a><br />
                                        </f:if>
                                    </f:case>
                                    <f:case value="phone">
                                        <f:if condition="{address.phone}">
                                            <i class="fa fa-phone"></i> <a href="tel:{address.phone}">{address.phone}</a><br />
                                        </f:if>
                                    </f:case>
                                    <f:case value="mobile">
                                        <f:if condition="{address.mobile}">
                                            <i class="fa fa-mobile-alt"></i> <a href="tel:{address.mobile}">{address.mobile}</a><br />
                                        </f:if>
                                    </f:case>
                                    <f:defaultCase>
                                        {address.{column}}<br />
                                    </f:defaultCase>
                                </f:switch>
                            </f:for>
                        </p>  
                    </div>                    
                    <div class="col-md-4">
                        <div class="line">
                            <div class="value">
                                {address.description -> f:format.html()}
                            </div>
                        </div>
                    </div>                
                    <div class="col-md-4">
                        <div class="line me-4">
                            <div class="value">
                                {address.building -> f:format.html()}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:for>
