.btn,
.btn-u {
    padding: 11px 48px;
    background-color: $red;
    border: 1px solid $red;

    body.blue-style-template & {
        background-color: $blue;
        border: 1px solid $blue;
    }

    body.green-style-template & {
        background-color: $green;
        border: 1px solid $green;
    }

    transition: all 0.2s;
    text-align: center;
    color: $color-white !important;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;

    &:hover {
        padding: 11px 32px 11px 64px;
        text-decoration: none;
        color: $color-white;
        background: $red-active;
        border-color: $red-active;

        body.blue-style-template & {
            background-color: $blue-active;
            border-color: $blue-active;
        }

        body.green-style-template & {
            background-color: $green-active;
            border-color: $green-active;
        }

        transition: all 0.2s ease-in-out;
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 24px;
        width: 12px;
        height: 20px;
        content: " ";
        background: url(../Images/li-white.svg) center center no-repeat;
        background-size: 12px;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        margin-top: -10px;
    }

    &:hover::before {
        opacity: 1;
        left: 38px;
    }

    &.return {
        &::before {
            transform: rotate(180deg);
        }
    }

    &.btn-u-ghost {
        color: $red !important;
        background-color: $color-white;
        border-color: $red;

        body.blue-style-template & {
            background-color: $color-white;
            color: $blue !important;
            border-color: $blue;
        }

        body.green-style-template & {
            background-color: $color-white;
            color: $green !important;
            border-color: $green;
        }

        &:hover {
            color: $color-white !important;
            background-color: $red-active;
            border-color: $red-active;

            body.blue-style-template & {
                color: $color-white !important;
                background-color: $blue-active;
                border-color: $blue-active;
            }

            body.green-style-template & {
                color: $color-white !important;
                background-color: $green-active;
                border-color: $green-active;
            }
        }
    }

    &.btn-u-small {
        padding: 9px 34px !important;
        font-size: 12px !important;

        @media #{$max-sm} {
            width: 100%;
        }

        &::before {
            left: 20px;
            width: 8.4px;
            height: 14px;
            background-size: contain;
            top: 22px;
        }

        &:hover {
            padding: 9px 24px 9px 44px !important;

            &::before {
                left: 27px;
            }
        }
    }
}

.text-btn {
    &::before {
        content: "\e800";
        display: inline-block;
        width: 24px;
        font-family: $font-icons;
        font-size: 1.0625rem;
        text-align: left;
        transition: inherit;
    }
}

.btn-primary {
    &.btn {
        &,
        &:hover {
            color: $color-white;
        }
    }

    @include color(border-color);
    @include color(background);

    &:hover {
        @include color-active(border-color);
        @include color-active(background);
    }
}

.btn-like {
    padding: 8px 15px;
    background-color:$red;
    color: #fff;
    font-size: 1.1rem;
    .blue-style-template & {
        background-color: $blue;
    }
    .green-style-template & {
        background-color: $green;
    }
}
