
.icon-chevron:before { content: '\e800'; } /* '' */
.icon-fax:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e802'; } /* '' */
.icon-family:before { content: '\e803'; } /* '' */
.icon-age:before { content: '\e804'; } /* '' */
.icon-tax:before { content: '\e805'; } /* '' */
.icon-nature:before { content: '\e806'; } /* '' */
.icon-map:before { content: '\e807'; } /* '' */
.icon-aid:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-help:before { content: '\e80a'; } /* '' */
.icon-tickets:before { content: '\e80b'; } /* '' */
.icon-transport:before { content: '\e80c'; } /* '' */
.icon-cam:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-basket:before { content: '\e810'; } /* '' */
.icon-external-link:before { content: '\e811'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */