.breadcrumbs {
  background: none;
  border: 0;
  margin-top: 40px;

  @media #{$max-md} {
    margin-top: 0;
  }

  p.breadcrumb {
    display: block;
    width: 100%;
    margin: 15px 0 70px 0;
    padding: 0;
    font-size: 0.8rem;
    color: $color-gray1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media #{$max-md} {
      margin-bottom: 20px !important;
      padding-left: 0;
    }

    span {
      color: $color-gray2;
      padding: 0 10px;
    }
  }
}