.breadcrumbs ul {
  list-style: none;
  margin: 50px 0 70px 0;
  padding: 0;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #454545;

  li {
    margin-left: 0;
    padding: 0 30px 0 0;
    display: inline;
    position: relative;

    &:not(:last-child)::after {
      content: "➝";
      color: #b1b1b1;
      right: 10px;
      position: absolute;
    }

    a {
      color: #b1b1b1;
    }

    &:last-child a {
      color: #000;
    }
  }

  @media #{$max-lg} {
    margin: 20px 0 30px 0;
  }
}

@media (min-width: 1360px) and (max-width: 1599px) {
  .breadcrumbs .container {
    max-width: calc(100% - 100px) !important;
  }
}