.events-list-view {
  table {
    width: 100%;

    tr {
      border-bottom: 6px solid #fff;
      cursor: pointer;

      td {
        float: left;
        font-size: 1rem;
        padding: 27px 0;
        vertical-align: middle;
        transition: background 0.2s, color 0.2s;
        border-bottom: 3px solid #fff;

        &.date {
          width: 50%;
          white-space: nowrap;
          color: #fff;
          background: #d91231;
          border-right: 3px solid #fff;
          text-align: center;

          strong {
            color: #fff;
          }
        }

        &.time {
          width: 50%;
          white-space: nowrap;
          color: #fff;
          background: #b1b1b1;
          text-align: center;
        }

        &.type {
          display: none;
          width: 25px;
          padding: 27px 5px 25px 5px;
          border-right: 3px solid #fff;
          background: #e5e5e5;
          text-align: center;
          font-weight: 700;
        }

        &.title {
          width: 100%;
          padding: 27px 80px 25px 35px;
          background: #e5e5e5 url("../img/li.svg") no-repeat;
          background-position: right 32px center;
          background-size: 15px;

          a {
            color: #454545;

            &:hover {
              color: #fff;
              text-decoration: none;
            }
          }

          div {
            display: block;
            width: 100%;
          }

          span {
            font-weight: 700;
          }
        }

        &.organizer {
          display: none;
          width: calc(35% - 175px);
          padding: 27px 80px 25px 35px;
          background: #e5e5e5 url("../img/li.svg") no-repeat;
          background-position: right 32px center;
          background-size: 15px;
          font-size: 0.8889rem;
          font-weight: 700;
          border-left: 3px solid #fff;
        }

        @media #{$min-sm} {
          text-align: left;
          float: none;

          &.date {
            width: 120px;
            padding: 27px 35px;
            font-size: 1.0666rem;
          }

          &.time {
            width: 182px;
            padding: 27px 35px;
            font-size: 1.0666rem;
            border-right: 3px solid #fff;
          }

          &.type,
          &.organizer {
            display: table-cell;
          }

          &.title {
            width: calc(100% - 356px);
            font-size: 0.8889rem;

            div,
            span {
              display: none;
            }
          }
        }
      }

      &:hover {
        td {
          &.time {
            background: #e1415a;
          }

          &.type {
            color: #fff;
            background: #e66579;
          }

          &.title {
            color: #fff;
            background-color: #e66579;
            background-position: right 25px center;

            a {
              color: #fff;
              text-decoration: none;
            }
          }

          &.organizer {
            color: #fff;
            background-color: #e66579;
            background-position: right 25px center;
          }
        }
      }

      &.newseventitem-withorganizer {
        td {
          &.title {
            @media #{$min-sm} {
              width: calc(35% - 175px);
              background-image: none;
            }
          }
        }

        &:hover {
          td {

            &.type,
            &.title {
              color: #fff;
              background-color: #e66579;
            }

            &.organizer {
              color: #fff;
              background-color: #e66579;
              background-position: right 25px center;
            }
          }
        }
      }
    }

  }
}


body.blue-style-template .events-list-view table tr {
  td {
    &.date {
      background-color: #1e55a5;
    }

    &.time {
      background-color: #517ab7;
    }

    &.title,
    &.organizer {
      background: #e5e5e5 url("../img/li-blue.svg") no-repeat;
      background-position: right 32px center;
    }
    &.title {
      @media #{$min-sm} {
        background-image: none;
      }
    }
  }

  &:hover td {

    &.title,
    &.organizer {
      color: #fff;
      background-color: #6788b9;
      background-position: right 25px center;
    }
  }

  &.newseventitem-withorganizer {
    &:hover {
      td {
        &.type {
          color: #fff;
          background-color: #6788b9;
        }
        &.title {
          color: #fff;
          background-color: #6788b9;
          @media #{$min-sm} {
            background-image: none;
          }
        }

        &.title,
        &.organizer {
          color: #fff;
          background-color: #6788b9;
          background-position: right 25px center;
        }
      }
    }
  }
}


body.green-style-template .events-list-view table tr {
  td {
    &.date {
      background-color: #287a2f;
    }

    &.time {
      background-color: #4fb058;
    }

    &.title,
    &.organizer {
      background: #e5e5e5 url("../img/li-green.svg") no-repeat;
      background-position: right 32px center;
    }
    &.title {
      @media #{$min-sm} {
        background-image: none;
      }
    }
  }

  &:hover td {
    &.title {
      color: #fff;
      background-color: #88c18d;
      background-position: right 25px center;
    }

    &.organizer {
      color: #fff;
      background-color: #88c18d;
      background-position: right 25px center;
    }
  }

  &.newseventitem-withorganizer {
    &:hover {
      td {
        &.type {
          color: #fff;
          background-color: #88c18d;
        }
        &.title {
          color: #fff;
          background-color: #88c18d;
          @media #{$min-sm} {
            background-image: none;
          }
        }

        &.organizer {
          color: #fff;
          background-color: #88c18d;
          background-position: right 25px center;
        }
      }
    }
  }
}

table.event-month {
  th.day {
    background-color: #e4e9f0;
  }

  td {
    min-width: 95px;
    max-width: 120px;

    &.week-number {
      min-width: 25px;
      width: 25px;
      background-color: #e4e9f0;
    }

    ul li {
      line-height: 1rem;
    }
  }
}