.events-detail-view {
  .event-info {
    margin-bottom: 20px;

    @media #{$min-lg} {
      display: flex;
      margin-left: -5px;
      margin-right: -5px;
    }

    .event-info-item-wrapper {
      padding: 5px;
      display: flex;
      flex-basis: 100%;
      width: 100%;

      .event-info-item {
        padding: 20px;
        background-color: $color-white2;
        flex-basis: 100%;

        .subtitle {
          font-size: 1rem;
          line-height: 1.25rem;
          color: $headers-color;
          margin-bottom: 5px;
        }

        .value {
          font-size: 1rem;
          line-height: 1.25rem;
          color: $red;

          body.blue-style-template & {
            color: $blue;
          }

          body.green-style-template & {
            color: $green;
          }
        }
      }
    }
  }

  .image-wrapper-no-image  {
      position: relative;
      width: 100%;
      background: #f0f0f0 center center no-repeat;
      background-size: cover;
      --bs-aspect-ratio: calc(10 / 16 * 100%);
      &::before {
        display: block;
        padding-top: var(--bs-aspect-ratio);
        content: "";
      }
      div {
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        p {
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      display: none;
      @media #{$min-lg} {
        display: block;
      }
      img {
        max-width: 80%;
      }
  }
}