.accordion .letter span {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-family: OpenSans-Bold;
    background: #454545;
    color: #fff;
    margin-top: 55px;
    font-weight: bold;
}
