.navbar-nav {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 50px;

  @media #{$min-lg} {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  @media #{$min-xll} {
    margin-bottom: 0;
  }

  @media #{$min-xxl} {
    font-size: 1rem;
    line-height: 1rem;
  }

  a {
    @media #{$max-lg} {
      border-bottom: 1px solid $color-gray4;
    }
  }

  li {
    position: relative;
    background: $color-white;

    &:hover {
      &>ul {
        @media #{$min-lg} {
          display: block !important;
        }
      }
    }

    &.menu-full-width {
      &:hover {
        &>ul {
          @media #{$min-lg} {
            display: grid !important;
          }
        }
      }
    }
  }

  .active {
    &>a {
      color: $color-gray5;
      background: $color-gray4;
    }
  }

  &>li {
    position: relative;
    cursor: pointer;

    @media #{$min-xll} {
      display: flex;
      align-items: center;
      height: 122px;
    }

    &.active {
      &>a {
        color: $primary;
        @include color(color);
        background: $color-white;

        @media #{$max-lg} {
          margin: -1px 0 0;
          border: 0;
          background: $primary;
          @include color(background);

          &,
          &:hover {
            color: $color-white;
          }

          &::after {
            border-color: $color-white;
          }

          .red-style-template &,
          .blue-style-template &,
          .green-style-template & {
            color: $color-white;
          }
        }
      }
    }

    &>a {
      display: block;
      width: 100%;
      font-size: 1.125rem;
      line-height: 1.5rem;
      white-space: nowrap;
      color: $headers-color;
      font-family: "Open Sans SemiBold";
      padding: 2px 20px;
      border-bottom: 1px solid #eee;

      @media #{$min-xxl} {
        font-size: 1rem;
        line-height: 2rem;
        border-right: 1px solid $color-gray6;
        border-bottom: none;
      }

      &:hover {
        @media #{$min-xll} {
          color: $primary;
          @include color(color);
        }
      }
    }

    &:last-of-type {
      &>a {
        padding-right: 0;
        border: 0;
      }
    }

    &>ul {
      padding: 0;

      @media #{$min-lg} {
        top: 100%;
        left: 0;
      }

      @media #{$max-lg} {
        display: none;
      }
    }

    &:last-child>ul {
      left: auto;
      right: 0;
    }
  }

  ul {
    min-width: 200px;
    margin: 0 0 -1px;
    padding: 0;
    list-style: none;

    @media #{$min-xll} {
      display: none !important;
      position: absolute;
      top: -2px;
      left: 100%;
      border-top: 2px solid $primary;
      border-bottom: 2px solid $nav-link-color;
      @include color-active(border-top-color);
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

    a {
      display: block;
      width: 100%;
      padding: 5px 15px 5px 50px;
      color: $nav-link-color;
      white-space: nowrap;
      font-size: 0.8889rem;

      @media #{$min-lg} {
        padding: 12px 22x;

        &:hover {
          color: $nav-link-color;
          background: $color-gray4;
        }
      }
    }

    &>.has-inner {
      &>a {
        @media #{$min-xll} {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
            margin: auto;
            border: solid $nav-link-color;
            border-width: 0 0 1px 1px;
            width: 7px;
            height: 7px;
            transform: translateY(1px) rotateZ(-135deg);
          }
        }
      }

      ul li a {
        @media #{$max-xll} {
          padding: 5px 15px 5px 70px;
        }
      }
    }
  }

  &>.has-inner {
    &>a {
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 8px;
        margin: auto;
        border: solid $nav-link-color;
        border-width: 0 0 2px 2px;
        width: 8px;
        height: 8px;
        transform: translateY(-3px) rotateZ(-45deg);
        transition: 0.2s ease;

        @media #{$max-lg} {
          content: "";
        }
      }
    }

    &.opened {
      &>a {
        &::after {
          transform: translateY(2px) rotateZ(135deg);
        }
      }
    }
  }

  .menu-left {
    &>ul {
      ul {
        left: auto;
        right: 100%;
      }
    }
  }

  .menu-full-width {
    position: static;

    &>ul {
      right: 0;
      width: calc(100% - #{$grid-gutter-width});
      margin: auto;
    }
  }

  .menu-columns-2 {
    &>ul {
      @media #{$min-lg} {
        grid-template-columns: 1fr 1fr;

        li {
          &:nth-of-type(2n - 1) {
            border-right: solid 1px $color-gray4;
          }
        }
      }
    }
  }

  .menu-columns-3 {
    &>ul {
      @media #{$min-lg} {
        grid-template-columns: 1fr 1fr 1fr;

        li {
          &:nth-of-type(3n - 1) {
            border-right: solid 1px $color-gray4;
          }

          &:nth-of-type(3n - 2) {
            border-right: solid 1px $color-gray4;
          }
        }
      }
    }
  }
}