html {
  height: 100%;
}

body {
  position: relative;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  overflow-x: hidden;
  margin: 159px 0 0 0;

  @media (max-width: 1359px) {
    margin: 143px 0 0 0;
  }

  @media (max-width: 991px) {
    margin: 121px 0 0 0;
  }

  &.lock-scroll {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
  &.imagecover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrapper {
  flex: 1 0 auto;
}

.w4-box {
  position: relative;
  width: 100%;

  .w4-box-text {
    width: 630px;
    max-width: 100%;
  }

  .w4-box.w4-box-imagepos-2 .w4-box-text {
    float: right;
  }

  &.w4-box- .box-text {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &::before {
    display: block;
    position: absolute;
    content: " ";
    width: 50%;
    height: 100%;
  }

  &.w4-box-imagepos-2::before {
    right: 0;
  }

  .w4-box-imageheight-0 .w4-box::before {
    display: none;
  }

  &.w4-box-imageheightfullwidth .row>div {
    padding: 80px 75px 75px 75px;
  }

  &.w4-box-imagepos-1.w4-box-imageheight-0 .row>div {
    float: right;
  }

  &.w4-box-imagepos-1 div.col-image-l {
    display: block;
    padding: 0;
  }

  &.w4-box-imagepos-1 div.col-image-r {
    display: none;
  }

  &.w4-box-imagepos-2 div.col-image-l {
    display: none;
  }

  &.w4-box-imagepos-2 div.col-image-r {
    display: block;
    padding: 0;
  }

  div.col-image-l img,
  div.col-image-r img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .w4-box-text {
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
  }

  .w4-box::before {
    display: none;
  }

  .w4-box .row>div {
    padding: 30px 15px !important;
  }

  .w4-box.w4-box-imagepos-0.w4-box-imageheight-0 .row>div {
    float: left !important;
  }
}

@media (max-width: 1499px) {
  .w4-box.w4-box-imagepos-2.w4-box-imageheightfullwidth .w4-box-text {
    padding: 0 15px;
  }
}

@media (min-width: 1500px) and (max-width: 1599px) {
  .w4-box.w4-box-imagepos-2.w4-box-imageheightfullwidth .w4-box-text {
    width: calc(100% - 63px);
  }
}

.wrapper>.content {

  ul,
  ol {
    padding-left: 0.85rem;

    li::marker {
      color: $red;

      .blue-style-template & {
        color: $blue;
      }

      .green-style-template & {
        color: $green;
      }
    }
  }

  a:not(.btn-u) {

    &:before {
      content: "";
      display: inline-block;
      font-family: "FontAwesome";
      text-align: left;
      transition: inherit;
      color: $red;
      margin-right: 3px;

      .blue-style-template & {
        color: $blue;
      }

      .green-style-template & {
        color: $green;
      }
    }

    &[href^='mailto:']:before,
    &[data-mailto-token]:before {
      content: "\f0e0";
    }

    &[href$='.pdf']:before {
      content: "\f15b";
    }

    &[href^='tel:']:before {
      content: "\f095";
    }

    &[href^='fax:']:before {
      content: "\f1ac";
    }

    &[href^='http']:before,
    &[href^='www']:before {
      content: "\f0ac";
    }

    &:hover:before {
      color: $red-active;

      .blue-style-template & {
        color: $blue-active;
      }

      .green-style-template & {
        color: $green-active;
      }
    }
  }
}

p.dataContainer a:not(.btn-u):before {
  margin-right: 8px
}

@media (min-width: 768px) {
  .col-md-5cols {
      width: 20%;
  }
  .col-md-7cols {
      width: 14.5%;
  }
  .col-md-8cols {
      width: 12.5%;
  }
}