.nav-subpages {
    margin-bottom: 30px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #fbfbfb;
    width: 100%;
    padding: 32px 25px 19px 25px;
    background: #d91231;
    overflow: hidden;
    text-align: center;

    ul {
        list-style-type: none;
        max-width: 1024px;
        margin: auto;
        padding: 0;

        li {
            display: inline-block;
            padding-bottom: 13px;
            background-image: none !important;

            a {
                color: #fff;
                padding: 0 25px;
                border-right: 1px solid #fff;
                white-space: nowrap;
                font-size: 1rem;
                opacity: .8;
                transition: all .2s;
                &:hover {
                    color: #fff;
                    opacity: 1;
                }
            }
            &:last-child a,
            &.last-in-row a {
                border-right: none;
            }
        }
    }
}